In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')
data

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male
...,...,...,...,...,...
10495,u15442,18/11/14 7:39,18/11/14 7:42,A00002/B00002/C00007/D06407/;A00002/B00002/C00...,female
10496,u17986,25/11/14 15:16,25/11/14 15:16,A00006/B00030/C00334/D11660/,female
10497,u22508,09/12/14 10:11,09/12/14 10:11,A00002/B00002/C00007/D18028/,female
10498,u17087,22/11/14 11:27,22/11/14 11:27,A00003/B00012/C00131/D09453/;A00003/B00012/C00...,female
10499,u23137,19/12/14 3:11,19/12/14 3:19,A00002/B00001/C00010/D02309/;A00002/B00002/C00...,female

In [3]:
print(data['gender'].value_counts)

<bound method IndexOpsMixin.value_counts of 0        female
1          male
2        female
3        female
4          male
          ...
10495    female
10496    female
10497    female
10498    female
10499    female
Name: gender, Length: 10500, dtype: object>

In [4]:
data['gender'] = data['gender'].map( {'female':0,'male':1})

In [5]:
data['gender']

0        0
1        1
2        0
3        0
4        1
        ..
10495    0
10496    0
10497    0
10498    0
10499    0
Name: gender, Length: 10500, dtype: int64

In [6]:
data.head()

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,0
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1

In [7]:
type(data['startTime'][0])

str

In [8]:
data['startTime'] = pd.to_datetime(data['startTime'])
data['endTime'] = pd.to_datetime(data['endTime'])

In [9]:
data['diff_seconds']=data['endTime'] - data['startTime']
data['diff_seconds']=data['diff_seconds']/np.timedelta64(1,'s')

In [10]:
data['diff_seconds']

0         60.0
1        360.0
2          0.0
3        180.0
4        120.0
         ...
10495    180.0
10496      0.0
10497      0.0
10498      0.0
10499    480.0
Name: diff_seconds, Length: 10500, dtype: float64

In [11]:
data.head()

,session_id,startTime,endTime,ProductList,gender,diff_seconds
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,0,60.0
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,1,360.0
2,u19037,2014-01-12 15:58:00,2014-01-12 15:58:00,A00002/B00001/C00020/D16944/,0,0.0
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,0,180.0
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,1,120.0

In [138]:
data['ProductList'][0]

'A00002/B00003/C00006/D28435/;A00002/B00003/C00006/D02554/;A00002/B00003/C00006/D28436/;A00002/B00003/C00006/D28437/'

In [143]:
data['ProductList'][1]

'A00001/B00009/C00031/D29404/;A00001/B00009/C00031/D02617/;A00001/B00009/C00031/D29407/;A00001/B00009/C00031/D29410/;A00001/B00009/C00031/D29411/;A00001/B00009/C00031/D25444/;A00001/B00009/C00031/D29418/'

In [144]:
data['ProductList'][3]

'A00002/B00004/C00018/D10284/;A00002/B00004/C00018/D10285/;A00002/B00004/C00018/D10286/'

In [146]:
pd.get_dummies(data['ProductList'])

,A00001/B00001/C00001/D00001/,A00001/B00001/C00001/D00080/;A00001/B00001/C00001/D00081/,A00001/B00001/C00001/D00087/;A00001/B00001/C00001/D00081/,A00001/B00001/C00001/D00087/;A00001/B00001/C00092/D21422/;A00001/B00001/C00001/D21405/;A00001/B00001/C00092/D25622/;A00001/B00001/C00092/D21409/,A00001/B00001/C00001/D00382/,A00001/B00001/C00001/D00500/,A00001/B00001/C00001/D00515/,A00001/B00001/C00001/D00558/,A00001/B00001/C00001/D00730/;A00001/B00001/C00001/D00382/;A00001/B00001/C00001/D01117/;A00001/B00001/C00001/D26417/;A00001/B00001/C00001/D26396/;A00001/B00001/C00001/D26419/;A00001/B00001/C00001/D03591/;A00001/B00001/C00001/D16794/;A00001/B00001/C00001/D26422/;A00001/B00015/C00098/D26372/;A00001/B00001/C00019/D26426/;A00001/B00001/C00019/D26428/,A00001/B00001/C00001/D00730/;A00001/B00001/C00012/D19536/;A00001/B00001/C00020/D19541/;A00002/B00001/C00150/D19516/,...,A00011/B00077/C00341/D26821/,A00011/B00077/C00341/D33314/;A00011/B00077/C00341/D33316/;A00011/B00077/C00362/D24379/;A00011/B00077/C00341/D33319/;A00011/B00077/C00341/D33320/;A00002/B00002/C00007/D23447/;A00002/B00002/C00007/D15798/,A00011/B00077/C00341/D33487/,A00011/B00077/C00341/D34922/;A00002/B00002/C00009/D34918/,A00011/B00077/C00341/D35841/;A00011/B00077/C00341/D35838/;A00002/B00002/C00004/D01127/,A00011/B00077/C00341/D35870/,A00011/B00077/C00362/D32946/,A00011/B00077/C00365/D21922/,A00011/B00077/C00370/D18882/,A00011/B00077/C00401/D24701/;A00011/B00077/C00341/D34922/;A00011/B00077/C00341/D34923/;A00002/B00002/C00009/D34918/;A00011/B00077/C00370/D34924/;A00011/B00056/C00012/D34925/;A00011/B00056/C00012/D34927/;A00002/B00002/C00007/D19078/;A00011/B00056/C00012/D34929/;A00011/B00056/C00012/D17332/;A00011/B00056/C00012/D34930/
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0